$primary-color: #3bbfce;

#mainheader { 
    background-color: darken($primary-color, 10%);
}

table.hl {
    margin: 2em 0;
    td.ln {
      text-align: right;
    }
  }
  
  li {
    font: {
      family: serif;
      weight: bold;
      size: 1.3em;
    }
  }

td.completed { 
    color: green;
}
td.fullycomplete {  
    @extend td.completed
}