.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.flex {
    display: flex;
    align-items: center;
}

.flex > div,
.flex > ul {
    flex: 1;
}

body {
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url("images/pattern.png") ;
}

#mainheader { 
    background-color: #a593c3;
    
}

#leftmenu { 
    float:left;
    width:30%;
    margin-bottom: 20px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
    }
footer {
        clear: both;
        width: 100%;
        }
            

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
    align-items: center;
    justify-content: space-between;
}


nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    
}

nav>ul>li { 
    float : left; 
    }

nav>ul>li a {
        display : block;
        color : white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-weight: bold;
}

td.completed {
    color : green;
}

td.partial { 
    color: orange;
}

td.incomplete { 
    color: red;
}

@media screen and (max-width: 500px) {
    body {
            background-color: paleturquoise;
    }

 .container {
    display: flex;
    flex-wrap: wrap;
}


nav {
    height: 120px;
    width: 100%;
}
#main {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    }
/*    nav.flex {
            flex-direction: row-reverse;
    }
    .flex {
        flex-direction: column;
    }
    footer ul {
        padding: 0;
        width: 100%;
    }

    footer p {
        text-align: center;
    }
*/
}
