.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.flex {
    display: flex;
    align-items: center;
}

.flex > div,
.flex > ul {
    flex: 1;
}

body {
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url("images/pattern.png") ;
}

#mainheader { 
    background-color: #a593c3;
    
}

#leftmenu { 
    float:left;
    width:30%;
    margin-bottom: 20px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
    }
footer {
        clear: both;
        width: 100%;
        }
            

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
    align-items: center;
    justify-content: space-between;
}


nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    
}

nav>ul>li { 
    float : left; 
    }

nav>ul>li a {
        display : block;
        color : white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-weight: bold;
}

td.completed {
    color : green;
}

td.partial { 
    color: orange;
}

td.incomplete { 
    color: red;
}

@media screen and (max-width: 500px) {
    body {
            background-color: paleturquoise;
    }

 .container {
    display: flex;
    flex-wrap: wrap;
}


nav {
    height: 120px;
    width: 100%;
}
#main {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    }
    .flex-table{ 
        float: left;
        width: 25%;
        
        }
	/* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

tr {
  margin: 0 0 1rem 0;
}
  
tr:nth-child(odd) {
  background: #ccc;
}

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Serial Number"; }
    td:nth-of-type(2):before { content: "Course Name"; }
    td:nth-of-type(3):before { content: "University"; }
    td:nth-of-type(4):before { content: "Status"; }
    td:nth-of-type(5):before { content: "Platform"; }
    
    }
